@model GaleriEklemeViewModel

<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Referans Yönetimi /</span> Referans Ekle
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Referans</h5>
                <div class="card-body">
                    <form asp-controller="Galeri" asp-action="Ekle" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <br />
                            <label asp-for="Galeri" class="form-label">FOTOĞRAF SEÇİNİZ</label>

                            <input asp-for="Galeri" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp" required="Boş Geçilmez!">
                            <span asp-validation-for="Galeri" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Baslik" id=" defaultFormControlInput" class="form-label">BAŞLIK</label>
                            <input asp-for="Baslik" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Ekle..." aria-describedby="defaultFormControlHelp" required="Boş Geçilmez!">
                            <span asp-validation-for="Baslik" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Icerik" for="defaultFormControlInput" class="form-label">İÇERİK</label>
                            <textarea asp-for="Icerik" type="text" class="form-control mb-3" id="defaultFormControlInput" style="min-height:300px" placeholder="Ekle..." aria-describedby="defaultFormControlHelp" required="Boş Geçilmez!"> </textarea>
                            <span asp-validation-for="Icerik" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-dark float-end"> KAYDET </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

