



<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/Asil/assets/img/hero/h1_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>KALİTE BELGELERİMİZ</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Hakkimizda">BELGELERİMİZ</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area1 section-padding30">
    <div class="container">
        <!-- section tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle mb-55">
                    <div class="front-text">
                        <h4>
                            Sağlığınız için Sahip olduğumuz belgeler
                        </h4>
                        <h2 class="">Kalİte Belgelerİmİz</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single-service-cap mb-30">
                    <div class="service-img">
                        <img src="~/Asil/assets/img/belge/iso.png" alt="" style="height:400px;">
                    </div>
                    <div class="service-cap">
                        <h4><a href="/Asil/assets/img/belge/iso.png" target="_blank">Iso 9001 Belgemiz</a></h4>
                        <a href="/Asil/assets/img/belge/iso.png" class="more-btn" target="_blank">İncele  <i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEftl+1NAzEMht1JgEmATWASYBLoJMAkwCRwjxRLxk0uNuGiQ8K/SonsJ68/4h5kZ3bYGY/8WaBzEbkpal6KCH9jLyLyuvzvvXweFjyi0L2I3HUiAXRcznB2yNaAUOHZqBEJBNjtiFotoKsCYyGelmAfJRiBMc6RQk0n3w1BtYBQhmDRAACRVq0toC4ikvozNSBfM5E6w69PMYqSvpT5YDh9Mx6uk/WAUo8JZU9gPZB1SEsDlDWbbhRCqbB5IG6nBZp2VqLalD8s36VGgQciXVqYFKV2U/iGpRlQCUur7IE+TeRoMXtYW4fpbvNBbf6zBa1gdoYNKzSU/0JkGyPd+l6hodsVoF/tMj+Hsp3mn5x02nuTmqLEaaTb/GXSLY/CNSAcM4/sW9ZbLbwy6e7Sjmi1tr8t5ylQu4zp0nbmXns9i0IRZb+NjS32ISBQTLfIFFhv+KkKvY2RW2rNeHVT22QPSOUkiC5j+lkVYGkjnTY99k1UH6EijwJl3jLO1mrQqtj0txUQAVs/DlaV2hLoR1BbA6WhZgCtQZ08TbOAalDVTWAmkIVqriWzgXSGNRf/2UDdefYP1JNodwp9ASZebyVc+nMUAAAAAElFTkSuQmCC" /></i> </a>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single-service-cap mb-30">
                    <div class="service-img">
                        <img src="~/Asil/assets/img/belge/s8.jpeg" alt="" style="height:400px;">
                    </div>
                    <div class="service-cap">
                        <h4><a href="/Asil/assets/img/belge/s8.jpeg" target="_blank">ODTÜ sağlık raporu</a></h4>
                        <a href="/Asil/assets/img/belge/s8.jpeg" class="more-btn" target="_blank">İncele <i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEftl+1NAzEMht1JgEmATWASYBLoJMAkwCRwjxRLxk0uNuGiQ8K/SonsJ68/4h5kZ3bYGY/8WaBzEbkpal6KCH9jLyLyuvzvvXweFjyi0L2I3HUiAXRcznB2yNaAUOHZqBEJBNjtiFotoKsCYyGelmAfJRiBMc6RQk0n3w1BtYBQhmDRAACRVq0toC4ikvozNSBfM5E6w69PMYqSvpT5YDh9Mx6uk/WAUo8JZU9gPZB1SEsDlDWbbhRCqbB5IG6nBZp2VqLalD8s36VGgQciXVqYFKV2U/iGpRlQCUur7IE+TeRoMXtYW4fpbvNBbf6zBa1gdoYNKzSU/0JkGyPd+l6hodsVoF/tMj+Hsp3mn5x02nuTmqLEaaTb/GXSLY/CNSAcM4/sW9ZbLbwy6e7Sjmi1tr8t5ylQu4zp0nbmXns9i0IRZb+NjS32ISBQTLfIFFhv+KkKvY2RW2rNeHVT22QPSOUkiC5j+lkVYGkjnTY99k1UH6EijwJl3jLO1mrQqtj0txUQAVs/DlaV2hLoR1BbA6WhZgCtQZ08TbOAalDVTWAmkIVqriWzgXSGNRf/2UDdefYP1JNodwp9ASZebyVc+nMUAAAAAElFTkSuQmCC" /></i> </a>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single-service-cap mb-30">
                    <div class="service-img">
                        <img src="~/Asil/assets/img/belge/wp200.jpg" alt="" style="height:400px;">
                    </div>
                    <div class="service-cap">
                        <h4><a href="/Asil/assets/img/belge/wp200.jpg" target="_blank">ODTÜ deney raporu</a></h4>
                        <a href="/Asil/assets/img/belge/wp200.jpg" class="more-btn" target="_blank">İncele  <i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEftl+1NAzEMht1JgEmATWASYBLoJMAkwCRwjxRLxk0uNuGiQ8K/SonsJ68/4h5kZ3bYGY/8WaBzEbkpal6KCH9jLyLyuvzvvXweFjyi0L2I3HUiAXRcznB2yNaAUOHZqBEJBNjtiFotoKsCYyGelmAfJRiBMc6RQk0n3w1BtYBQhmDRAACRVq0toC4ikvozNSBfM5E6w69PMYqSvpT5YDh9Mx6uk/WAUo8JZU9gPZB1SEsDlDWbbhRCqbB5IG6nBZp2VqLalD8s36VGgQciXVqYFKV2U/iGpRlQCUur7IE+TeRoMXtYW4fpbvNBbf6zBa1gdoYNKzSU/0JkGyPd+l6hodsVoF/tMj+Hsp3mn5x02nuTmqLEaaTb/GXSLY/CNSAcM4/sW9ZbLbwy6e7Sjmi1tr8t5ylQu4zp0nbmXns9i0IRZb+NjS32ISBQTLfIFFhv+KkKvY2RW2rNeHVT22QPSOUkiC5j+lkVYGkjnTY99k1UH6EijwJl3jLO1mrQqtj0txUQAVs/DlaV2hLoR1BbA6WhZgCtQZ08TbOAalDVTWAmkIVqriWzgXSGNRf/2UDdefYP1JNodwp9ASZebyVc+nMUAAAAAElFTkSuQmCC" /></i></a>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single-service-cap mb-30">
                    <div class="service-img">
                        <img src="~/Asil/assets/img/belge/tse.png" alt="" style="height:400px;">
                    </div>
                    <div class="service-cap">
                        <h4><a href="/Asil/assets/img/belge/tse.png" target="_blank">TSE RAPORU</a></h4>
                        <a href="/Asil/assets/img/belge/tse.png" class="more-btn" target="_blank"> İncele  <i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEftl+1NAzEMht1JgEmATWASYBLoJMAkwCRwjxRLxk0uNuGiQ8K/SonsJ68/4h5kZ3bYGY/8WaBzEbkpal6KCH9jLyLyuvzvvXweFjyi0L2I3HUiAXRcznB2yNaAUOHZqBEJBNjtiFotoKsCYyGelmAfJRiBMc6RQk0n3w1BtYBQhmDRAACRVq0toC4ikvozNSBfM5E6w69PMYqSvpT5YDh9Mx6uk/WAUo8JZU9gPZB1SEsDlDWbbhRCqbB5IG6nBZp2VqLalD8s36VGgQciXVqYFKV2U/iGpRlQCUur7IE+TeRoMXtYW4fpbvNBbf6zBa1gdoYNKzSU/0JkGyPd+l6hodsVoF/tMj+Hsp3mn5x02nuTmqLEaaTb/GXSLY/CNSAcM4/sW9ZbLbwy6e7Sjmi1tr8t5ylQu4zp0nbmXns9i0IRZb+NjS32ISBQTLfIFFhv+KkKvY2RW2rNeHVT22QPSOUkiC5j+lkVYGkjnTY99k1UH6EijwJl3jLO1mrQqtj0txUQAVs/DlaV2hLoR1BbA6WhZgCtQZ08TbOAalDVTWAmkIVqriWzgXSGNRf/2UDdefYP1JNodwp9ASZebyVc+nMUAAAAAElFTkSuQmCC" /></i></a>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single-service-cap mb-30">
                    <div class="service-img">
                        <img src="~/Asil/assets/img/belge/yetkiResim.jpg" alt="" style="height:200px;">
                    </div>
                    <div class="service-cap">
                        <h4><a href="/Asil/assets/img/belge/yetkiResim.jpg" target="_blank">Grada Yetkili Bayilik Belgesi</a></h4>
                        <a href="/Asil/assets/img/belge/yetkiResim.jpg" class="more-btn" target="_blank">İncele  <i><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAcFJREFUWEftl+1NAzEMht1JgEmATWASYBLoJMAkwCRwjxRLxk0uNuGiQ8K/SonsJ68/4h5kZ3bYGY/8WaBzEbkpal6KCH9jLyLyuvzvvXweFjyi0L2I3HUiAXRcznB2yNaAUOHZqBEJBNjtiFotoKsCYyGelmAfJRiBMc6RQk0n3w1BtYBQhmDRAACRVq0toC4ikvozNSBfM5E6w69PMYqSvpT5YDh9Mx6uk/WAUo8JZU9gPZB1SEsDlDWbbhRCqbB5IG6nBZp2VqLalD8s36VGgQciXVqYFKV2U/iGpRlQCUur7IE+TeRoMXtYW4fpbvNBbf6zBa1gdoYNKzSU/0JkGyPd+l6hodsVoF/tMj+Hsp3mn5x02nuTmqLEaaTb/GXSLY/CNSAcM4/sW9ZbLbwy6e7Sjmi1tr8t5ylQu4zp0nbmXns9i0IRZb+NjS32ISBQTLfIFFhv+KkKvY2RW2rNeHVT22QPSOUkiC5j+lkVYGkjnTY99k1UH6EijwJl3jLO1mrQqtj0txUQAVs/DlaV2hLoR1BbA6WhZgCtQZ08TbOAalDVTWAmkIVqriWzgXSGNRf/2UDdefYP1JNodwp9ASZebyVc+nMUAAAAAElFTkSuQmCC" /></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
