
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/Asil/assets/img/hero/h1_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>Hakkımızda</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Hakkimizda">Hakkımızda</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="support-company-area fix pt-10 section-padding30">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 class="">Bİz Kİmİz?</h2>
                </div>
                <span class="back-text">Bİz Kİmİz?</span>
            </div>
            <div class="support-caption">
                <p>
                    <strong>
                        Asil İnşaat Yapı & Yalıtım 2021 yılından beri <strong style="color:red"> yalıtım</strong> ve <strong style="color:red">epoksi</strong>
                        uygulamaları ile başta Elazığ olmak üzere bölge illerde sağlığınız için kaliteli ve güvenilir hizmet anlayışıyla faaliyetlerini sürdürmektedir.
                    </strong>
                   
                </p>
                <p>
                    <strong>
                        Misyonumuz:
                        <br />
                        Müşterilerimize, yapı güçlendirmede ve su yalıtımında kullanılan en kaliteli ürünleri sağlayarak, yapı sektöründe güvenilir bir çözüm ortağı olmak.
                        <br /><br />
                        Vizyonumuz:
                        <br />
                        Bina güçlendirme ve su yalıtımı kategorilerinde sektörde öncü bir konuma gelerek, sürekli gelişen ve büyüyen bir firma olmak.
                        <br /> <br />
                        Müşterilerin ihtiyacını karşılamayacak ürünleri portföyümüze almıyoruz. Doğru ürünü doğru müşteriyle buluşturmayı kendimize gaye edinmiş durumdayız.
                        <br /> <br />
                        Firmamız su, ses, ısı ve yangın yalıtımı alanında sektörün önde gelen markalarından olan
                        <a href="https://www.grada.com.tr/tr/index.html" target="_blank" style="color:#2290c5"> <strong>Grada</strong></a>
                        Yapı Kimyasallarının bölge distribütörü olarak halkımızın sağlığı için hizmet vermektedir.
                    </strong>
                   
                </p>
                <p>
                    <strong style="color:red;">İletişim Bilgilerimiz</strong> Sarayatik Mahallesi Adnan Orakçıoğlu Caddesi No:22/A  <br />Elazığ/Merkez<br /> Telefon:<a href="tel:05322251249" style="color:black;">0(532) 225 12 49</a>  <br />E-Posta:<a href="mailto:asilinsaatyapiyalitim@gmail.com" style="color:black;">    asilinsaatyapiyalitim@gmail.com</a> <br />
                    <br /> Sizlere daha iyi hizmet verebilmek için azim ve süreklilikle gayret ediyoruz.
                </p>
            </div>
        </div>
        <div class="right-content" style="margin-bottom:200px; ">
            <!-- img -->
            <div class="right-img">
                <img src="~/Asil/assets/img/gallery/zemin.jpeg" alt="">
            </div>
            <div class="support-img-cap text-center">
                <span>2021</span>
                <p>'den beri</p>
            </div>
        </div>
    </div>

</section>























