
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/Asil/assets/img/hero/h1_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>HAVUZ YALITIMI</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Hakkimizda">HAVUZ YALITIMI</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="services-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-services section-padding2">
                    <div class="details-img mb-40">
                        <img src="~/Asil/assets/img/gallery/havuz2.png" alt="">
                    </div>
                    <div class="details-caption" style="font-size:25px;">
                        <h3>Neden Havuz Yalıtmı</h3>

                        <h3>Daha Güçlü ve Daha Uzun Ömürlü Yapılar</h3>
                        <br />
                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            Havuz su yalıtımı, bir havuzun su sızdırmazlığını sağlamak amacıyla yapılan bir uygulamadır. Havuzlar sürekli olarak su ile temas halindedir ve bu nedenle suyun sızmasını önlemek büyük önem taşır. Yüzme havuzlarında yapılan su yalıtımı, aşağıdaki nedenlerden dolayı önemlidir:
                        </p>

                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            <strong>Su Kaybını Önler</strong> Havuzlardaki su kaybı, hem maddi hem de işletme açısından büyük bir sorundur. Su sızıntısı veya buharlaşma nedeniyle su seviyesinin sürekli olarak düşmesi, havuzun sürekli olarak su eklenmesini gerektirir ve su faturasının artmasına yol açar. Doğru su yalıtımı, suyun havuz içinde kalmasını sağlar ve su kaybını önler.
                        </p>
                    
                        <a asp-controller="Home" asp-action="CalismaAlanlarimiz">Yalıtım Alanlarımızı İncelemek İçin </a>

                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

