<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="/Asil/assets/img/gallery/epoksi.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="hero__caption">
                                <div class="hero-text1">
                                    <span data-animation="fadeInUp" data-delay=".3s" style="font-size:25px;">SAĞLIK VE GÜVEN İÇİN EV VE İŞYERLERİNİZE <strong style="color:aqua">EPOKSİ</strong> UYGULAMASI </span>
                                </div>
                                <h1 data-animation="fadeInUp" data-delay=".5s">Daha Güçlü</h1>
                                <br />
                                <br />
                                <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                    <h2>Uzun Ömürlü</h2>
                                    <h2>Uzun Ömürlü</h2>
                                </div>


                                <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                    <span><a asp-controller="Home" asp-action="Iletisim" style="font-size:25px;">Bİr Telefon Kadar Uzağınzıdayız </a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="/Asil/assets/img/gallery/epoksi.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="hero__caption">
                                <div class="hero-text1">
                                    <span data-animation="fadeInUp" data-delay=".3s">SAĞLIK VE GÜVEN İÇİN EV VE İŞYERLERİNİZE EPOKSİ UYGULAMASI</span>
                                </div>
                                <h1 data-animation="fadeInUp" data-delay=".5s">Sağlık &</h1>
                                <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                    <h2>Yalıtım</h2>
                                    <h2>Yalıtım</h2>
                                </div>
                                <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                    <span><a asp-controller="Home" asp-action="Iletisim">Bir Telefon Kadar Uzağınzıdayız </a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="services-area1 section-padding30">
        <div class="container">
            <!-- section tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-55">
                        <div class="front-text">
                            <h2 class="">Neden Yalıtım</h2>
                        </div>
                        <span class="back-text">Neden</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-service-cap mb-30">
                        <div class="service-img">
                            <img src="~/Asil/assets/img/gallery/sudeposu.png" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a asp-controller="Home" asp-action="SuDeposuYalitimi">Neden Su Tankı Yalıtımı?</a></h4>
                            <a asp-controller="Home" asp-action="SuDeposuYalitimi" class="more-btn">Daha Fazlası <i class="ti-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-service-cap mb-30">
                        <div class="service-img">
                            <img src="~/Asil/assets/img/gallery/teras3.png" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a asp-controller="Home" asp-action="TerasYalitimi">Neden Teras Yalıtımı?</a></h4>
                            <a asp-controller="Home" asp-action="TerasYalitimi" class="more-btn">Daha Fazlası <i class="ti-plus"></i></a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-service-cap mb-30">
                        <div class="service-img">
                            <img src="~/Asil/assets/img/gallery/havuz.jpg" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a asp-controller="Home" asp-action="HavuzYalitimi">Neden Havuz Yalıtımı?</a></h4>
                            <a asp-controller="Home" asp-action="SuDeposuYalitimi" class="more-btn">Daha Fazlası <i class="ti-plus"></i></a>
                        </div>

                    </div>
                </div>


                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-service-cap mb-30">
                        <div class="service-img">
                            <img src="~/Asil/assets/img/gallery/zemin2.jpg" alt="">
                        </div>
                        <div class="service-cap">
                            <h4><a asp-controller="Home" asp-action="ZeminYalitimi">Neden Zemin Yalıtımı?</a></h4>
                            <a asp-controller="Home" asp-action="ZeminYalitimi" class="more-btn">Daha Fazlası <i class="ti-plus"></i></a>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>
    </div>



    <section class="support-company-area fix pt-10">
        <div class="support-wrapper align-items-end">
            <div class="left-content">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2 class="">BİZ KİMİZ?</h2>
                    </div>
                </div>
                <div class="support-caption">
                    <p class="pera-top"> Asil İnşaat Yapı & Yalıtım 2021 yılından beri <strong>yalıtım </strong> ve <strong>epoksi</strong> uygulamaları ile başta Elazığ olmak üzere bölge illerde sağlığınız için kaliteli ve güvenilir hizmet anlayışıyla faaliyetlerini sürdürmektedir.</p>
                    <p>
                        <strong style="color:red;">İletişim Bilgilerimiz</strong> Sarayatik Mahallesi Adnan Orakçıoğlu Caddesi No:22/A  <br />Elazığ/Merkez<br /> Telefon:<a href="tel:05322251249" style="color:black;">0(532) 225 12 49</a>  <br />E-Posta:<a href="mailto:asilinsaatyapiyalitim@gmail.com" style="color:black;">    asilinsaatyapiyalitim@gmail.com</a> <br />
                        <br /> Sizlere daha iyi hizmet verebilmek için azim ve süreklilikle gayret ediyoruz.
                    </p>

                    <a asp-controller="Home" asp-action="Hakkimizda" class="btn red-btn2">Daha Fazlası</a>
                </div>
            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="~/Asil/assets/img/gallery/zemin.jpeg" alt="">
                </div>
                <div class="support-img-cap text-center">
                    <span>2021</span>
                    <p>'DEN BERİ</p>
                </div>
            </div>
        </div>

    </section>
    <br />
    <br />
    <br />
 
</main>

