<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/Asil/assets/img/hero/h1_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>GİZLİLİK POLİTİKAMIZ</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Iletisim">gİZLİLİK POLİTİKAMIZ</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-services section-padding2">
                   
                    <div class="details-caption">
                        <h2 class="mb-4">
                            Gizlilik Politikası
                        </h2>

                        <p>
                        <p>
                            Güvenliğiniz bizim için önemli. Bu sebeple bizimle paylaşacağınız kişisel verileriz hassasiyetle korunmaktadır.

                        </p>

                        Biz, Asil İnşaat Yapı&Yalıtım , veri sorumlusu olarak, bu gizlilik ve kişisel verilerin korunması politikası ile, hangi kişisel verilerinizin hangi amaçla işleneceği, işlenen verilerin kimlerle ve neden paylaşılabileceği, veri işleme yöntemimiz ve hukuki sebeplerimiz ile; işlenen verilerinize ilişkin haklarınızın neler olduğu hususunda sizleri aydınlatmayı amaçlıyoruz.
                        </p>
                        <h4>
                            Toplanan Kişisel Verileriniz, Toplanma Yöntemi ve Hukuki Sebebi
                        </h4>
                        <p>Kimlik, (isim, soy isim, doğum tarihi gibi) iletişim, (adres, e-posta adresi, telefon, IP, konum gibi) özlük, sosyal medya, finans bilgileriniz ile görsel ve işitsel kayıtlarınız tarafımızca, çerezler (cookies) vb. teknolojiler vasıtasıyla, otomatik veya otomatik olmayan yöntemlerle ve bazen de analitik sağlayıcılar, reklam ağları, arama bilgi sağlayıcıları, teknoloji sağlayıcıları gibi üçüncü taraflardan elde edilerek, kaydedilerek, depolanarak ve güncellenerek, aramızdaki hizmet ve sözleşme ilişkisi çerçevesinde ve süresince, meşru menfaat işleme şartına dayanılarak işlenecektir.</p>
                        <h4>
                            Kişisel Verilerinizin İşlenme Amacı
                        </h4>
                        <p>
                            Bizimle paylaştığınız kişisel verileriniz; hizmetlerimizden faydalanabilmeniz amacıyla sizlerle sözleşmeler kurabilmek, sunduğumuz hizmetlerin gerekliliklerini en iyi şekilde ve aramızdaki sözleşmelere uygun olarak yerine getirebilmek, bu sözleşmelerden doğan haklarınızın tarafınızca kullanılmasını sağlayabilmek, ürün ve hizmetlerimizi, ihtiyaçlarınız doğrultusunda geliştirebilmek ve bu gelişmelerden sizleri haberdar edebilmek, ayrıca sizleri daha geniş kapsamlı hizmet sağlayıcıları ile yasal çerçeveler içerisinde buluşturabilmek ve kanundan doğan zorunlulukların (kişisel verilerin talep halinde adli ve idari makamlarla paylaşılması) yerine getirilebilmesi amacıyla, sözleşme ve hizmet süresince, amacına uygun ve ölçülü bir şekilde işlenecek ve güncellenecektir.
                        </p>
                        <h4>Toplanan Kişisel Verilerin Kimlere ve Hangi Amaçlarla Aktarılabileceği</h4>
                        <p>Bizimle paylaştığınız kişisel verileriniz; faaliyetlerimizi yürütmek üzere hizmet aldığımız ve/veya verdiğimiz, sözleşmesel ilişki içerisinde bulunduğumuz, iş birliği yaptığımız, yurt içi ve yurt dışındaki 3. şahıslar ile kurum ve kuruluşlara ve talep halinde adli ve idari makamlara, gerekli teknik ve idari önlemler alınması koşulu ile aktarılabilecektir.</p>
                        <h4>
                            Kişisel Verileri İşlenen Kişi Olarak Haklarınız
                        </h4>
                        <p>
                            KVKK madde 11 uyarınca herkes, veri sorumlusuna başvurarak aşağıdaki haklarını kullanabilir:
                            <ul>
                                
                                <li style="list-style-type:lower-alpha">Kişisel veri işlenip işlenmediğini öğrenme,</li>
                                <li style="list-style-type:lower-alpha">Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
                                <li style="list-style-type:lower-alpha">
                                    Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                                </li>
                                <li style="list-style-type:lower-alpha">
                                    Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,

                                </li>
                                <li style="list-style-type:lower-alpha">
                                    Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,

                                </li>
                                <li style="list-style-type:lower-alpha">
                                    Kişisel verilerin silinmesini veya yok edilmesini isteme,

                                </li>
                                <li style="list-style-type:lower-alpha">
                                    (e) ve (f) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,

                                </li>
                                <li style="list-style-type:lower-alpha">
                                    İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,

                                </li>
                                <li style="list-style-type:lower-alpha">
                                    Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.

                                </li>

                            </ul>
                            <br />
                        
                            Yukarıda sayılan haklarınızı kullanmak üzere  asilinsaatyapiyalitim@gmail.com üzerinden bizimle iletişime geçebilirsiniz.



                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="heading-section">
    
</div>
