<link rel="stylesheet" href="~/foto/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/foto/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/foto/css/slicknav.min.css" />
<link rel="stylesheet" href="~/foto/css/fresco.css" />

<!-- Main Stylesheets -->
<link rel="stylesheet" href="~/foto/css/style.css" />

<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/Asil/assets/img/hero/h1_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>SU DEPOSU YALITMI</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Hakkimizda">SU DEPOSU YALITMI</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-services section-padding10">
                    <div class="gallery__page">
                        <div class="gallery__warp">
                            <div class="row">
                                
                                <div class="col-lg-6 col-md-4 col-sm-6">
                                    <a class="gallery__item fresco" href="~/Asil/assets/img/gallery/üc.jpg" data-fresco-group="gallery">
                                        <img src="~/Asil/assets/img/gallery/üc.jpg" alt="">
                                        <h4 style="text-align:center;"> Paslı Su Tankı</h4>
                                    </a>
                                </div> 
                                <div class="col-lg-6 col-md-4 col-sm-6">
                                    <a class="gallery__item fresco" href="~/Asil/assets/img/gallery/4.jpg" data-fresco-group="gallery">
                                        <img src="~/Asil/assets/img/gallery/4.jpg" alt="">
                                        <h4 style="text-align:center;"> Epoksi Yalıtmı Sonrası</h4>
                                    </a>
                                </div>
                              
                                

                            </div>
                        </div>
                    </div>
                    <div class="details-caption" style="font-size:25px;">
                        <h3>Neden Su Deposu Yalıtmı</h3>

                        <h3>Daha Güçlü ve Daha Uzun Ömürlü Yapılar</h3>
                        <br />
                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            Su deposu, suyun depolanması ve kullanılması gibi konularda önemli rol oynar. Fakat bu sistemin doğru biçimde izole edilmemesi, türlü sorunlara yol açabilir. Su depolarının düzgün bir biçimde yalıtılması, suyun kalitesini ve hijyenini koruma meselesinde mühimdir. Su deposu iç izolasyonu, depoyu potansiyel tehlikelerden uzak tutmak için kullanılır.
                        </p>

                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            Bunun yanında diğer bir sorun da sızan su ile mantar oluşumunun başlamasıdır. Su, insan sağlığı için bu tür oluşumlardan korunmalıdır. Bu yüzden su tankları hem dış yüzeyden hem de tank içinden su yalıtımına ihtiyaç duymaktadır.
                        </p>

                        <a asp-controller="Home" asp-action="CalismaAlanlarimiz">Yalıtım Alanlarımızı İncelemek İçin </a>

                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/foto/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/foto/js/jquery.slicknav.min.js"></script>
<script src="~/foto/js/slick.min.js"></script>
<script src="~/foto/js/fresco.min.js"></script>
<script src="~/foto/js/main.js"></script>

