
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/Asil/assets/img/hero/h1_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>TERAS YALITMI</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Hakkimizda">TERAS YALITMI</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-services section-padding2">
                    <div class="details-img mb-40">
                        <img src="~/Asil/assets/img/gallery/teras.jpg" alt="">
                    </div>
                    <div class="details-caption" style="font-size:25px;">
                        <h3>Neden Teras Yalıtmı</h3>

                        <h3>Daha Güçlü ve Daha Uzun Ömürlü Yapılar</h3>
                        <br />
                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            Teraslarda su yalıtımı, yapıların dayanıklılığını artıran ve olumsuz hava koşullarının neden olduğu hasarları önlemek için hayati öneme sahiptir. Teraslar, dış etkenlere açık alanlar olduğu için yağmur, kar, nem ve diğer hava koşullarına karşı oldukça hassastır
                        </p>

                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            <strong>Yapının Dayanıklılığını Artırır</strong>  Su yalıtımı yapılarınızın uzun ömürlü olmasını sağlar. Su sızıntısı nedeniyle oluşan çürümeler, çatlaklar ve bozulmalar yapıların dayanıklılığını azaltabilir. Su yalıtımı sayesinde yapılar daha uzun süre dayanıklı kalır.
                        </p>
                        <p style="font-family:Arial, Times, serif; font-size:20px;">
                            Bununla beraber, yapının dışına yapılan ısı yalıtımı; insan sağlığı üzerinde olumsuz etki yaratabilecek nem, küf, mantar, rutubet, tozlanma,
                            gürültü, hava kirliliği gibi faktörlerin de oluşmasını önler.
                        </p>
                        <a asp-controller="Home" asp-action="CalismaAlanlarimiz">Yalıtım Alanlarımızı İncelemek İçin </a>


                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

