.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 46px;
}

.video {
    margin: 10px;
    border: 2px solid #ddd; /* Galeri bloklarını belirginleştir */
    border-radius: 5px; /* Kenar yumuşatma */
    overflow: hidden; /* İçerik taşmasını önle */
    transition: transform 0.3s ease; /* Geçiş efekti */
}

    .video:hover {
        transform: scale(1.05); /* Fare üstüne gelince boyutu büyüt */
    }

    .video img {
        width: 100%;
        height: auto;
    }

.lightbox-container {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.lightbox-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
}
